
.display {
    max-width: 150px;
    .img {
        height: 70px;
        object-fit: cover;
    }
    
    .label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
